<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="profile" href="/data/profile">
      <ion-icon name="person-outline"></ion-icon>
      <ion-label>Profile</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="hobies" href="/data/hobies">
      <ion-icon name="game-controller-outline"></ion-icon>
      <ion-label>Hobbies</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="technologies" href="/data/technologies">
      <ion-icon name="laptop-outline"></ion-icon>
      <ion-label>Technologies</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
