<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Frameworks y lenguajes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-card *ngFor="let tech of userTech">
    <ion-item href="#" class="ion-activated" >
      <ion-icon name="wifi" slot="start"></ion-icon>
      <ion-label>{{tech.name}}
        <p>
          <li>
            Conocimiento: {{tech.percentage}}%
          </li>
          <li>
            Desde: {{tech.year}}
          </li>
        </p>
      </ion-label>
    </ion-item>
    <ion-button (click)="setId(tech.id)" expand="block">Editar</ion-button>
  </ion-card>

</ion-content>

<ion-card>

  <ion-card-content>
    Nota: Si no actualiza los datos, por favor, recargue la página.
  </ion-card-content>
</ion-card>
